.footer__container {
  align-items: center;
}

.footer__list {
  display: flex;
  justify-content: center;
  margin-top: 134px;
  margin-bottom: 26px;
  gap: 35px;
}

.footer__copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #21243D;
  text-align: center;
  margin-bottom: 22px;
}
