.post {
    background: #EDF7FA;

    &__top {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 148px;
    }

    &__recent {
        font-weight: 400;
        font-size: 22px;
        line-height: 60px;
        color: #21243D;
        margin-bottom: 2px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-left: 148px;
        margin-right: 156px;
        padding-bottom: 32px;
    }

    &__item {
        flex: 0 1 49%;
        padding: 24px 21px 18px 23px;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
        border-radius: 4px;
        width: 418px;
    }

    &__all {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: #00A8CC;

        &:hover {
            opacity: 0.9;
        }
    }

    &__title {
        max-width: 374px;
        font-weight: 700;
        font-size: 26px;
        line-height: 38px;
        color: #21243D;
        margin-bottom: 27px;

        cursor: pointer;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #21243D;
        margin-bottom: 17px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #21243D;
        margin-bottom: 7px;
    }
}